/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* font-family: Arial, Helvetica, sans-serif; */
}

body {
    height: 4000px;
    font-family: 'Jura', sans-serif;
}

.cb {
    color: black;
}


/* BACKGROUND */

.bgr {
    background: linear-gradient(rgba(23, 32, 56, 1), rgba(162, 62, 140, 1));
    z-index: -1;
    width: 100%;
    height: 4000px;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    overflow: hidden;
}

.img_bgr img {
    /* max-height: 1372px; */
    width: 100%;
}

/* HEAD */
.navbar {
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 3;
    background: linear-gradient(rgba(135, 38, 183, 0), rgba(234, 191, 255, 0.534));
    position: fixed;
    backdrop-filter: blur(5px);
    max-height: 90px;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about {
    display: flex;
    justify-content: space-between;
}

.about i {
    font-size: 10px;
    color: #000;
}

.about a {
    margin: 0px 120px 0px 120px;
    color: #000;
    font-size: 18px;
    font-weight: 1000;
    cursor: pointer;
    text-decoration: none;
}

/* About Header */

.ab_text {
    color: #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.heading {
    color: #070a24;
    text-align: center;
    letter-spacing: -1px;
    font-family: Axiforma,sans-serif;
    font-size: 69px;
    font-weight: 800;
    line-height: 100%;
}

#introduc {
    padding-top: 175px;
}

.introduc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.children {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 14%;
    top: 20%;
}

.tagline {
    color: #070a24;
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 300;
    line-height: 150%;
}

.tagline p {
    padding: 20px;
    text-align: center;
    color: #fff;
}

.free {
    display: flex;
    justify-content: center;
    background-color: #C65197;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40%;
}

.content-bgr {
    display: flex;
    text-align: center;
    width: 1170px;
    height: 2800px;
    margin-top: 80px;
    background-color:rgba(228, 244, 255, 1);
    border-radius: 50px;
}

/* CONTENT */

#plot {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.content-plot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 65px;
}

.content-plot h3 {
    font-size: 24px;
}

.content-plot p {
    font-size: 18px;
    font-weight: 300;
    line-height: 180%;
    text-align: justify;
    margin-top: 20px;
}

/* GAMEPLAY */

#game-play {
    display: flex;
    justify-content: center;
}

.demo-img-gameplay {
    height: 278px;
    width: 603px;
    border-radius: 24px;
    background-color: #C65197;
}

.prop img {
    max-width: 60px;
    margin-left: 5px;
}

.content-gameplay {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 9%;
}

.content-play h3 {
    text-align: justify;
    font-size: 24px;
}

.img-content {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.content-gameplay p {
    text-align: justify;
    font-size: 18px;
    font-weight: 300;
    line-height: 180%;
}

.counti-content {
    display: flex;
    margin-top: 50px;
}

.counti-content p {
    text-align: justify;
    font-size: 18px;
    font-weight: 300;
    line-height: 180%;
}

.demo-img-counti {
    height: 278px;
    width: 603px;
    border-radius: 24px;
    background-color: #C65197;
    margin-left: 12%;
}

.map {
    height:517px;
	width:1042px;
    border-radius: 24px;
    margin-top: 50px;
    background-color: #C65197;
}


/* ONE BUILDER */

#boarding {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 200px;
}

.boarding h2 {
    font-size: 55px;
    line-height: 110%;
}

.container-boarding {
    height: 45px;
    color: rgb(118, 162, 191);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
}

.container-boarding p {
    z-index: 1;
    cursor: pointer;
    color: #6c7589;
    line-height: 25px;
    font-size: 24px;
}

.container-boarding p:hover {
    color: #070a24;
}

.tab-boar {
    margin: 0 70px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.tab-boar h3 {
    font-size: 24px;
    text-align: justify;
}

.trigger {
    z-index: -1;
    opacity: 1;
    background-color: rgba(37, 58, 94, 1);
    border-radius: 10px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    width: 0;
    right: 0%;
    box-shadow: 0 4px 4px rgba(15,18,31,.08);
    transition: all 0.2s ease;
}


.content-boar {
    width: 100%;
    height: 374px;
    margin-top: 42px;
    position: relative;
    display: block;
}

.container-character.new {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.use-case {
    width: 100%;
    height: 100%;
    background-color:rgba(217, 217, 217, 1) ;
    border: 1px solid #e3e7ec;
    border-radius: 32px;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px 20px 25px;
    margin: 70px;
}

.container-character {
    display: none;
    width: 100%;
    height: 100%;
}



.user-boar h2 {
    color: #070a24;
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 120%;
}

.user-boar p {
    font-size: 18px;
    font-weight: bold;
    line-height: 180%;
    text-align: justify;
}

.user-boar {
    display: flex;
    text-align: left;
    align-items: flex-start;
    flex-direction: column;
}

.user-boar h4 {
    color: #55575b;
    font-size: 16px;
    font-weight: 700;
}

.nhanvat {
    display: flex;
}

.nhavat2 {
    display: flex;
}

.img-onboarding {
    z-index: 2;
    max-width: 55%;
    margin-left: 20px;
    margin-right: -40px;
    position: relative;
}

.img-onboarding img {
    max-width: 300px;
}

.user-boar button {
    background-color:rgba(255, 255, 255, 1);
    font-family: 'Jura', sans-serif;
    font-size: 18px;
    width:120px;
	height:40px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
}

/* FOOTER */

.bgr-footer {
    max-width: 100%;
}
